header>div{background: blue;border: black solid 1px;}
header>nav{background: grey;border: black solid 1px;}
section{background: grey;border: black solid 1px;}
footer>div{background: red; border: black solid 1px;}